@CHARSET "UTF-8";
 body{
		font-family: cursive;
		background-image:url(../Image/loginbackground2.jpg);
	}
	table{
		margin:30px auto 0;
	}
	label{
		font-size:20px;
	}
	input{
		margin:5px;
		font-size:20px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-color:blue;
		padding-left:3px;
	}
	#tit{
		font-size:40px;
	}
	#lab{
		text-align:right;
	}
	#sub,#btn{
		width: 120px;
		margin-left: 40px;
	}