body{
	background-image:url(../Image/loginbackground1.jpg);
}
#fre,#deli{
	font-size:20px;
	/*background-color:rgb(189,252,200);*/
		margin:5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		width:120px;
		border-color: blue;
		padding-left: 2px;	
}